<?xml version="1.0" encoding="UTF-8"?>                     
	<Config>
		<Map>
			<MapDimensions>100</MapDimensions>
			<MapTiles>
				<MapTile description="Wall">
					<CSV>9</CSV>
					<CHAR>▓</CHAR>
				</MapTile>
				<MapTile description="Ground">
					<CSV>0</CSV>
					<CHAR> </CHAR>
				</MapTile>
				<MapTile description="Portal?">
					<CSV>5</CSV>
					<CHAR>■</CHAR>
				</MapTile>
				<MapTile description="Water">
					<CSV>3</CSV>
					<CHAR>~</CHAR>
				</MapTile>
				<MapTile description="Spawn">
					<CSV>6</CSV>
					<CHAR>@</CHAR>
				</MapTile>
			</MapTiles>
		</Map>
	</Config>